
h1 {
    color: rgb(249, 249, 249);
    font-size: 140%;
    background-color:red ;
}
p.ocupacio {
    background-color:rgb(186, 161, 135);
    padding: 10px;
    margin-left: 10px;
    font-weight: bold;
}
p {
    background-color:rgb(186, 161, 135);
}

